@model ASP_WebCam.Models.RobotModel

@{
    ViewBag.Title = "Index";
}



<div class="row">


    <div class="col-md-6">
        @{ try
            {
                <p>@ViewBag.WHY</p>
                <video width="320" height="240" controls>
                    <source src=ViewBag.Vid type="video/mp4">
                
                </video>
                <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(ViewBag.WHY))" />
                <p>This is working</p>
            }
            catch
            {
                <img src="~/Content/image.jpg" width="500" height="330" />
                <p>This is not working</p>
            }

        }
        
        
    </div>
</div>

<div class="row">
   
    <div class="col-md-2">

        @using (Html.BeginForm("Webcam", "Robot"))
        {
            <input id="buttonWebcam" type="submit" name="webcame" value="Webcam" />
        }
    </div>
</div>




